streamlit
opencv-python-headless
Pillow
edge-tts
ddgs
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-genai>=2.23.0
huggingface_hub>=0.31.0
python-dotenv
tqdm
moviepy==2.2.1
requests
newspaper4k>=0.9.6,<0.10
streamlit-cropper==0.3.1
